html, body {
	 width: 100%;
	 height: 100%;
	 margin:0;
	 text-align: center;
	 position: relative;
	 color: white;
	 font-family: sans-serif;
	 background-color: #121212;
	}

.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 120px;
	line-height: 120px;
	text-align: center;
	background-color: #000000;
}

.header img {
	height: 157px;
	width: 1920px;
}

.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: #ffffff;
}

.body-content{
	margin: 0 auto;
	padding-top: 180px;
	max-width: 1200px;
	width: 100%;
	height: 100%;
}

.loadout {
	margin: 0;
	position: relative;
	display: inline-block;
	text-align: left;
	max-width: 500px;
	color: white;
}

.loadout ul {
  list-style-type: none;
}

.loadout li {
  display: block;
}

.loadout input[type="checkbox"] {
  display: none;
}

.loadout div label:first-of-type {
  display: inline-block;
  margin: 10px;
  cursor: pointer;
}

.loadout div label img {
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
  z-index: -1;
}

.loadout :checked + label img {
  box-shadow: 0 0 10px red;
}

.loadout div {
	display: inline-block;
	position: relative;
}

button.red-button {
    background: #8B0000; 
    border: 1px solid #8B0000;
    color: white;
    line-height: 25px;
    width: 200px;
    padding: 5px 10px;
    border-radius: 2px;
    outline: none;
    text-shadow: 0 1px 0 #C04131;

}

button.red-button:hover {
     background: #FF0000;
     border: 1px solid #FF0000;
}

button.red-button:active {
    background: #8B0000;
    border: 1px solid #8B0000;
}

button:disabled {
  background: #303030;
  border: none;
}

button:disabled:hover{
  background: #303030;
  border: none;
}

div.option {
	display: inline-block;
	width: 200px;
	line-height: 23px;
	text-align: center;
}

img.hover1 {
	display: none;
	position: absolute;
	z-index: 100000;
	left: 13px;
	top: 13px;
	cursor: pointer;
	border: 1px solid black;
}

img.hover2 {
	display: none;
	position: absolute;
	z-index: 100000;
	left: 46px;
	top: 13px;
	cursor: pointer;
	border: 1px solid black;
}

img.overlay1 {
	display: inline-block;
	position: absolute;
	z-index: 100000;
  width: 20px;
  height: 40px;
	right: 10px;
	top: 7px;
}

img.overlay2 {
	display: inline-block;
	position: absolute;
	z-index: 100000;
  width: 20px;
  height: 40px;
	right: 25px;
	top: 7px;
}

img.hover1:hover, img.hover2:hover {
	box-shadow: 0 0 5px white; 
}

.loadout div:hover img.hover1, .loadout div:hover img.hover2 {
	display: inline-block;
}

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 23px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #303030;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #8B0000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #8B0000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

input[type="number"] {
  background-color: #8B0000;
  color: white;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  border-width: 0px;
  line-height: 27px;
}

div.menu-open{
  border-top-right-radius: 0%       !important;
  border-bottom-right-radius: 0%    !important;
}

div.option-menu {
  position: absolute;
  text-align: left;
  padding: 3px;
  top: 157px;
  background-color: #242424 ;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 50%;
  min-width: 25px;
}

#nav-toggle {
  cursor: pointer;
}

#menu{
  display: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#under {
  display: none;
  text-align: center;
  align-items: center;
}

div#under > label {
  display: inline-block;
  position: relative;
  bottom: 12px;
}